#TopSkills{
    div{
        div{
            .piechart{
                canvas{
                    max-width: 400px;
                    
                }
            }
        }
    }
}
#Skills{
    div{
        .barchart{
            max-width: 1200px;
        }
    }
    
}
#OtherSkills{
    max-width: 1200px;
    .badge-lg{
        
                margin: 2px;
            }
}